<?xml version="1.0" encoding="UTF-8"?>
<?asciidoc-toc?>
<?asciidoc-numbered?>
<book xmlns="http://docbook.org/ns/docbook" xmlns:xl="http://www.w3.org/1999/xlink" version="5.0" xml:lang="en">
<info>
<title>Spring Cloud Build</title>
<date>2017-08-31</date>
</info>
<preface>
<title></title>
<simpara>include::README.adoc</simpara>
</preface>
</book>